html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;

    }
    .carousel {
        display: none;
    }
    
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--light);
}

@media screen (max-width: 700px) {
    .carousel {
        display: none;
    }
}


